.keyboard {
  margin: 0 5px;
  border: 1px solid black;
  border-radius: 20px;
  display: grid;
  padding: clamp(15px, 5vw, 30px);
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.35), 0 5px 5px rgba(0, 0, 0, 0.5),
    0 15px 25px rgba(0, 0, 0, 0.35);
  gap: clamp(5px, 2vw, 25px);
  max-width: 100%;
}

.easy {
  grid-template-columns: repeat(8, 1fr);
}

.medium {
  grid-template-columns: repeat(14, 1fr);
}

.hard {
  grid-template-columns: repeat(12, 1fr);
}

.button {
  -webkit-text-stroke: 1px #797979;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  outline: 1px solid #898989;
  font-weight: 900;
  padding: 2px 0 0;
  aspect-ratio: 1 / 1;
  max-width: 80px;
  max-height: 80px;
  background: linear-gradient(#555353, #363535, #303030);
  border: 2px solid #222;
  border-radius: 6px;
  grid-column: span 2;
  box-shadow: inset 0 5px 1px rgba(0, 0, 0, 0.35), 0 5px 5px rgba(0, 0, 0, 0.5),
    0 15px 25px rgba(0, 0, 0, 0.35);
  cursor: pointer;
  transition: outline 0.15 ease-in, border 0.15 ease-in, box-shadow 0.15 ease-in,
    color 0.15 ease-in, text-shadow;
}

.easy .button:nth-child(7n + 1) {
  grid-column: 2 / span 2;
}

.medium .button:nth-child(13n + 1) {
  grid-column: 2 / span 2;
}
/* 
button:active {
  outline: 1px solid #d0e8ea;
  border: 2px solid #96c3e2;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.35),
    inset 0 5px 5px rgba(0, 0, 0, 0.5), inset 0 15px 25px rgba(0, 0, 0, 0.35);
  color: #fff;
  text-shadow: 0 0 5px #219cf3, 0 0 8px #219cf3;
} */

.active {
  outline: 1px solid #d0e8ea;
  border: 2px solid #96c3e2;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.35),
    inset 0 5px 5px rgba(0, 0, 0, 0.5), inset 0 15px 25px rgba(0, 0, 0, 0.35);
  color: #fff;
  text-shadow: 0 0 5px #219cf3, 0 0 8px #219cf3;
}

.wrong {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 2px inset,
    rgba(0, 0, 0, 0.5) 0px 5px 5px inset,
    rgba(0, 0, 0, 0.35) 0px 15px 25px inset;
  color: rgb(255, 255, 255);
  text-shadow: rgb(236, 4, 41) 0px 0px 5px, rgb(178, 0, 0) 0px 0px 8px;
  outline: rgb(251, 92, 184) solid 1px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(254, 94, 143);
}

@media (max-width: 600px) {
  .medium .button,
  .hard .button {
    font-size: clamp(20px, 8.3vw, 50px);
  }
}

@media (max-width: 350px) {
  .easy .button {
    font-size: clamp(20px, 14.28vw, 50px);
  }
}
