.container {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}

.hidden {
  display: none;
}

.modal {
  padding: 15px;
  box-sizing: border-box;
  background-color: #a9b2ab;
  max-width: 500px;
  max-height: 300px;
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
  color: #2a2a2a;
  font-weight: 800;
  text-align: center;
  font-size: 35px;
  border-radius: 15px;
  border: solid 1px #d0d0d0;
}

@media (max-width: 500px) {
  .modal {
    font-size: 25px;
  }
}
