.card {
  display: grid;
  gap: 0.5rem;
  grid-template-areas:
    "select select select delete"
    "start reset title title"
    "car car _ _";

  grid-template-columns: 2.9rem 2.9rem 1fr 1fr;
  position: relative;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  background-color: #fdfdfd;
  position: relative;
  margin-bottom: 1rem;
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  }
}

.select {
  grid-area: select;
  background-color: #28a745;
  color: white;

  &:hover {
    background-color: #218838;
  }

  &:disabled {
    background-color: #d6f5d6;
  }
}

.delete {
  grid-area: delete;
  background-color: #dc3545;
  color: white;

  &:hover {
    background-color: #c82333;
  }

  &:disabled {
    background-color: #f8d7da;
  }
}

.title {
  grid-area: title;
  margin: 0;

  font-size: 1.1rem;
  text-align: center;
  align-self: center;
  font-weight: bold;
  color: #333;
}

.start {
  grid-area: start;
  text-align: center;
  background-color: #007bff;
  color: white;

  &:hover {
    background-color: #0056b3;
  }

  &:disabled {
    background-color: #b8daff;
  }
}

.reset {
  grid-area: reset;
  background-color: #6c757d;
  color: white;

  &:hover {
    background-color: #5a6268;
  }

  &:disabled {
    background-color: #e2e3e5;
  }
}

.car {
  display: inline;
  grid-area: car;
}

.flag {
  position: absolute;
  right: 100px;
  bottom: 5px;
  width: 40px;
  height: 40px;
}

.select,
.delete,
.start,
.reset {
  padding: 0.4rem 0.8rem;
  font-size: 0.9rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
