.cell {
  aspect-ratio: 1 / 1;
  min-height: 30px;
  border: 1px solid rgb(76, 74, 74);
  background: rgb(183, 182, 182);
}
.bt4 {
  border-top: 4px solid rgb(24, 24, 24);
}

.bb4 {
  border-bottom: 4px solid rgb(24, 24, 24);
}

.bt2 {
  border-top: 2px solid rgb(24, 24, 24);
}

.bb2 {
  border-bottom: 2px solid rgb(24, 24, 24);
}

.bl4 {
  border-left: 4px solid rgb(24, 24, 24);
}

.br4 {
  border-right: 4px solid rgb(24, 24, 24);
}

.bl2 {
  border-left: 2px solid rgb(24, 24, 24);
}

.br2 {
  border-right: 2px solid rgb(24, 24, 24);
}

.filled {
  background: rgb(0, 0, 0);
}
