@use "variables.css";

.cell {
  aspect-ratio: 1 / 1;
  max-height: 50px;
  height: 10vmin;
  border: 1px solid var(--border-color);
  background: var(--bg-color);
}

.bt2 {
  border-top: 2px solid var(--border-bold-color);
}

.bb2 {
  border-bottom: 2px solid var(--border-bold-color);
}

.bl2 {
  border-left: 2px solid var(--border-bold-color);
}

.br2 {
  border-right: 2px solid var(--border-bold-color);
}

.filled {
  background: var(--primary-color);
}


