@use "variables.css";

.field {
  justify-self: center;
  align-self: center;
  display: inline-grid;
  grid-template-areas:
    "solution horizontal-hints"
    "vertical-hints puzzle";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-area: game;
  border: 3px solid var(--primary-color);
  color: var(--primary-color);
}

.row {
  display: flex;
  width: 100%;
}

.cells {
  grid-area: puzzle;
  border: 3px solid var(--primary-color);
  transition:
    color 0.4s ease-in,
    border-color 0.4s ease-in;
}

.solution {
  aspect-ratio: 1 / 1;

  grid-area: solution;
  background: var(--bg-color);
  font-size: 2.5rem;
  color: var(--primary-color);
  border: solid 3px var(--primary-color);
  cursor: pointer;
}

.s5 {
  width: min(calc(var(--width5) * 3 + 10px), 160px);
  font-size: min(calc((var(--width5) * 3 + 10px) * 0.25), 30px);
}

.s10 {
  width: min(calc(var(--width10) * 4 + 10px), 210px);
  font-size: min(calc((var(--width10) * 4 + 10px) * 0.25), 30px);
}

.s15 {
  width: min(calc(var(--width15) * 6 + 10px), 310px);
  font-size: min(calc((var(--width15) * 6 + 10px) * 0.25), 30px);
}

@media (max-width: 768px) {
  .s5 {
    width: min(calc(var(--width5-768) * 3 + 10px), 160px);
    font-size: min(calc((var(--width5-768) * 3 + 10px) * 0.25), 30px);
  }

  .s10 {
    width: calc(var(--width10-768) * 4 + 10px);
    font-size: min(calc((var(--width10-768) * 4 + 10px) * 0.25), 30px);
  }

  .s15 {
    width: calc(var(--width15-768) * 6 + 10px);
    font-size: min(calc((var(--width15-768) * 6 + 10px) * 0.25), 30px);
  }
}
