@use "variables.css";

.hint {
  aspect-ratio: 1 / 1;
  max-height: 50px;
  height: 10vmin;
  background: var(--bg-hints);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  font-size: 30px;
}

.hints {
  display: flex;
}

.vertical {
  flex-direction: column;
  grid-area: vertical-hints;
  border: 3px solid var(--primary-color);
}

.horizontal {
  flex-direction: row;
  grid-area: horizontal-hints;
  border: 3px solid var(--primary-color);
}

.row {
  display: flex;
  justify-content: end;
  background-color: var(--bg-row-hints);
  border: 1px solid var(--primary-color);
}

.vertical .row {
  flex-direction: row;
}

.horizontal .row {
  flex-direction: column;
}

.vertical .row:nth-child(5n) {
  border-bottom: 2px solid var(--primary-color);
}

.vertical .row:nth-child(5n + 1) {
  border-top: 2px solid var(--primary-color);
}

.horizontal .row:nth-child(5n + 1) {
  border-left: 2px solid var(--primary-color);
}

.horizontal .row:nth-child(5n) {
  border-right: 2px solid var(--primary-color);
}
