@use "variables.css";

.hint {
  aspect-ratio: 1 / 1;
  max-height: 50px;
  max-width: 50px;
  background: var(--bg-hints);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  font-size: min(2vmin, 30px);
}

.h5 {
  width: var(--width5);
  font-size: min(calc(var(--width5) * 0.8), 50px);
}

.h10 {
  width: var(--width10);
  font-size: min(calc(var(--width10) * 0.8), 50px);
}

.h15 {
  width: var(--width15);
  font-size: min(calc(var(--width15) * 0.8), 50px);
}

.hints {
  display: flex;
}

.vertical {
  flex-direction: column;
  grid-area: vertical-hints;
  border: 3px solid var(--primary-color);
}

.horizontal {
  flex-direction: row;
  grid-area: horizontal-hints;
  border: 3px solid var(--primary-color);
}

.row {
  width: 100%;
  display: flex;
  justify-content: end;
  background-color: var(--bg-row-hints);
  border: 1px solid var(--primary-color);
}

.vertical .row {
  flex-direction: row;
}

.horizontal .row {
  flex-direction: column;
}

.vertical .row:nth-child(5n) {
  border-bottom: 2px solid var(--border-bold-color);
}

.vertical .row:nth-child(5n + 1) {
  border-top: 2px solid var(--border-bold-color);
}

.vertical .row:first-child {
  border-top: 2px solid var(--primary-color);
}
.vertical .row:last-child {
  border-bottom: 2px solid var(--primary-color);
}

.horizontal .row:nth-child(5n + 1) {
  border-left: 2px solid var(--border-bold-color);
}

.horizontal .row:nth-child(5n) {
  border-right: 2px solid var(--border-bold-color);
}

.horizontal .row:first-child {
  border-left: 2px solid var(--primary-color);
}

.horizontal .row:last-child {
  border-right: 2px solid var(--primary-color);
}

@media (max-width: 768px) {
  .h5 {
    width: var(--width5-768);
    font-size: min(calc(var(--width5-768) * 0.8), 50px);
  }

  .h10 {
    width: var(--width10-768);
    font-size: min(calc(var(--width10-768) * 0.8), 50px);
  }

  .h15 {
    width: var(--width15-768);
    font-size: min(calc(var(--width15-768) * 0.8), 50px);
  }
}
