@use "variables.css";

html {
  font-size: 62.5%;
}

body {
  background-image: url("../assets/images/bg13.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 100vh;
  min-height: 100vh;
}

.container {
  position: relative;
  text-align: center;
  background-color: var(--bg-main-color);
  max-height: 100vh;
  min-height: 100vh;
}

.wrapper {
  display: inline-grid;
  grid-template-areas:
    "selectors selectors timer "
    "game game buttons";
  grid-template-columns: auto auto 1fr;
  grid-template-rows: auto 1fr;
  gap: 2rem;
}

.selectors {
  grid-area: selectors;
  display: flex;
  gap: 2.5rem;
}

.title {
  color: var(--primary-color);
  font-size: 4rem;
  margin: 0;
  padding: 2rem;
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }

  .wrapper {
    grid-template-areas:
      "selectors timer buttons "
      "game game game";
  }
}

.burgerMenu {
  display: none;
  width: 40px;
  height: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 100px;
  position: relative;
}
.active .item:first-child {
  transform: rotate(45deg);
}

.active .item:last-child {
  transform: rotate(-45deg);
}

.item {
  position: absolute;
  width: 22px;
  height: 2px;
  border-radius: 20px;
  background-color: var(--primary-color);
  transition: transform 0.3s ease-in;

  &:first-child {
    transform: translateY(4px);
  }

  &:last-child {
    transform: translateY(-4px);
  }
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }

  .wrapper {
    grid-template-areas:
      "selectors timer buttons "
      "game game game";
  }

  .burgerMenu {
    display: flex;
  }
}

@media (max-width: 400px) {
  body {
    width: 100%;
  }
}
