@use "../../assets/styles/variables";

.input {
  padding: 0.5rem;
  border: none;

  line-height: normal;
  color: var(--color-primary-50);

  background-color: var(--color-primary-800);
  outline: none;
  box-shadow: 0 0 0.25rem 0.1rem var(--color-primary-200);

  transition-duration: var(--transition-duration);
  transition-property: box-shadow;
}
