.list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
  padding: 0 1rem;
}

.divider {
  border: none;
  height: 1px;
  background-color: #888;
  margin: 12px 0;
  position: relative;

  &::before {
    content: "Unread messages";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    padding: 0 6px;
    font-size: 0.75rem;
    color: #666;
  }
}
