.option {
  display: grid;
  grid-template-columns: 3rem 4fr 1fr auto;
  gap: 1rem;
  align-items: center;

  padding: 0.6rem 0.8rem;
  border-radius: 0.5rem;

  background-image: linear-gradient(
    var(--color-primary-300),
    var(--color-primary-700)
  );
}
