body {
  background-image: url("/src/assets/images/sky1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

.header {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.4);
  height: 70px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: calc(100vh - 70px);
}

.field {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  max-width: 600px;
  max-height: max-content;
  width: 90%;
}

.cell {
  aspect-ratio: 1 / 1;
  min-height: 30px;
  border: 1px solid rgb(76, 74, 74);
  background: rgb(183, 182, 182);
}

.cell:nth-child(10n) {
  border-right: 3px solid black;
}

.cell:nth-child(5n + 1) {
  border-left: 3px solid rgb(0, 0, 0);
}

.cell:nth-child() {
  border-bottom: 3px solid black;
}

.cell:nth-child() {
  border-top: 3px solid rgb(0, 0, 0);
}
