@use "../css/variables.scss";
@use "../css/mixins.scss";

.navigation {
  &__list {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  &__item {
    list-style: none;
    border-radius: 12px;
    transition: background-color 0.4s ease-in, color 0.4s ease-in;

    &_active {
      pointer-events: none;
      background-color: variables.$Primary-10;
      color: variables.$Primary;
    }
  }

  &__link {
    display: inline-block;
    padding: 12px 20px;
    text-decoration: none;
    color: inherit;
  }
}

@media (hover: hover) and (pointer: fine) {
  .navigation__item:hover {
    cursor: pointer;
    background-color: variables.$Primary-10;
    color: variables.$Primary;
  }
}

@include mixins.device(mixins.$md) {
  .navigation {
    z-index: 100;
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow-y: auto;
    background-color: variables.$Static-White;
    transition: transform 0.5s ease-in;
    top: 62px;
    left: 100vw;
    transform: translateX(0);

    font-size: 24px;
    font-weight: 600;
    line-height: 36.48px;
    letter-spacing: 0.16em;

    &__list {
      height: calc(100% - 56px);
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    &_active {
      transform: translateX(-100vw);
    }
  }
}
