@use "../css/variables.scss";
@use "../css/mixins.scss";

.navigation {
  &__list {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  &__item {
    padding: 12px 20px;
    border-radius: 12px;
    list-style: none;
    transition: all 0.4s ease-in;

    :active {
      background-color: variables.$Primary-10;
      color: variables.$Primary;
    }
  }

  &__link {
    text-decoration: none;
    color: inherit;
  }
}

@media (hover: hover) and (pointer: fine) {
  .navigation__item:hover {
    cursor: pointer;
    background-color: variables.$Primary-10;
    color: variables.$Primary;
  }
}

@include mixins.device(mixins.$md) {
  .navigation {
    z-index: 100;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    position: fixed;
    gap: 100px;
    overflow-y: auto;
    align-items: center;
    background-color: variables.$Static-White;
    transition: right 0.5s ease-in;
    top: 100px;
    right: -100vw;
    padding-top: 64px;
  }
}
