@use "../css/variables.scss";
@use "../css/mixins.scss";

.section {
  background-image: url("../images/bg-snow.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 60px clamp(8px, calc(11.012vw - 76.5728px), 82px);

  &_hero {
    background-image: url("../images/bg-ball.png"), url("../images/bg-snow.png");
    height: 524px;
    box-sizing: border-box;
  }

  &_about {
    color: variables.$Dark;
  }

  &_cta {
    background-image: url("../images/bg-forest.png"),
      url("../images/bg-snow.png");

    & .section__content {
      text-align: center;
    }
  }

  &_gifts {
    background-image: url("../images/bg-garland.png");
    background-position: top;
    background-size: contain;
  }

  &__content {
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &_sm-gap {
      gap: 12px;
    }

    &_padding60 {
      padding: 60px 0;
    }
  }

  &__caption {
    font-family: "Allura";
    font-size: 24px;
    font-weight: 400;
    line-height: 100%; /* 24px */
    letter-spacing: 1.2px;

    &_primary {
      align-self: flex-start;
      color: variables.$Primary;
    }
  }

  &__title {
    max-width: 432px;
    font-size: 24px;
    line-height: 152%; /* 36.48px */
    letter-spacing: 3.84px;
    text-transform: uppercase;

    &_main {
      text-align: center;
      font-size: 32px;
      line-height: 150%;
      letter-spacing: 5.76px;
    }
  }

  &__button {
    padding: 20px 32px;
    background-color: variables.$Dark;
    font-size: 12px;
    line-height: 130%; /* 15.6px */
    letter-spacing: 0.6px;
    text-transform: uppercase;
    border-radius: 20px;
    color: variables.$Static-White;
    transition: all 0.5s ease-in;

    &:active {
      background-color: variables.$Static-White;
      color: variables.$Dark;
    }
  }

  &__wraper {
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    background-color: variables.$Static-White;
    overflow: hidden;
  }

  &__content-wraper {
    background-color: variables.$Static-White;
    padding: 0 60px;
    display: flex;
    align-items: center;
  }

  &__description {
    font-size: 16px;
    font-weight: 400;
    line-height: 148%;
    max-width: 426px;
  }

  &__image {
    border-radius: 20px;
  }

  &__title-wraper {
    display: flex;
    justify-content: center;
    gap: 12px;
  }

  &__slider {
    align-self: flex-start;
  }

  &__gallery {
    display: flex;
    justify-content: center;
    gap: 12px;
    flex-wrap: wrap;
    max-width: 1276px;
  }

  &__switches {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  &__switch {
    padding: 12px 20px;
    border-radius: 12px;
    font-size: 12px;
    line-height: 130%; /* 15.6px */
    letter-spacing: 0.6px;
    text-transform: uppercase;
    transition: background-color 0.5s ease-in;

    &_active {
      pointer-events: none;
      background-color: variables.$Static-White-20;
    }

    &:active {
      background-color: variables.$Static-White-20;
    }
  }
}

@include mixins.device(mixins.$xl) {
  .section {
    &__gallery {
      max-width: 632px;
    }
  }
}

@include mixins.device(mixins.$sm1) {
  .section {
    &__switch {
      padding: 12px 8px;
    }
  }
}

@media (hover: hover) and (pointer: fine) {
  .section__button:hover {
    cursor: pointer;
    background-color: variables.$Static-White;
    color: variables.$Dark;
  }

  .section__switch:hover {
    cursor: pointer;
    background-color: variables.$Static-White-20;
  }
}
