.container {
  display: flex;
  gap: 15px;
}

.button {
  width: max-content;
  height: 50px;
  font-size: 22px;
  padding: 0 15px;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-weight: 700;
  background: linear-gradient(#c0c0c0, #5b7d7a, #334a4c);
  border-radius: 6px;
  cursor: pointer;
  transition: width 0.3s ease-in, height 0.3s ease-in;
}

.input {
  width: 190px;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-weight: 700;
  background: rgb(140 148 154 / 40%);
  border-radius: 6px;
  border: 1px solid #000000;
  box-shadow: 0px 0px 8px 3px #5b7d7a inset;
}

.info {
  cursor: default;
}

.icon {
  fill: #fff;
  opacity: 0.5;
  width: 30px;
  height: 30px;
  transition: fill 0.5s ease-in;
  cursor: pointer;
}

.icon:hover {
  fill: #000000;
}

.icon:nth-child(3):hover {
  fill: #000000;
}

.active {
  fill: #000000;
  opacity: 1;
}

.icon:hover + .icon {
  fill: #000000;
}

.hidden {
  display: none;
}

.inactive {
  pointer-events: none;
}

.blocked {
  color: #00000052;
  pointer-events: none;
}
