@use "/src/assets/styles/variables";

body {
  min-width: 100vw;
  background-color: var(--color-primary-500);
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1rem;
  color: var(--color-primary-50);
}

.no-scroll {
  overflow: hidden;
}
