.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(183, 195, 199, 1) 0%,
    rgba(213, 245, 243, 1) 52%,
    rgba(255, 255, 255, 1) 100%
  );
}
